.nav-gal {
  font-family: GillSans;
  width: 1000px;
  height: 90px;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-bottom: solid 2px rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  margin-top: -90px;
}
.nav-gal .logo {
  font-family: GillSans;
  position: relative;
  width: 92px;
  height: 42px;
  border: solid 2px rgb(0, 0, 0);
}
.nav-gal .title {
  position: absolute;
  bottom: -9px;
  left: 50%;
  color: rgb(0, 0, 0);
  font-size: 35px;
  margin-left: 8px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.links-black {
  font-family: GillSans;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.links-black a {
  font-family: GillSans;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.links-black span {
  font-family: GillSans;
  color: #ee4367;
}

@media only all and (max-width: 980px) {
  .nav {
    padding: 0 30px;
  }
  .nav .links {
    display: none;
  }
}