.hero-gallery2 {
    max-width: 1000px;
    height: 378px;
    margin: 0 auto;
    background-image:linear-gradient( rgba(238, 67, 103, 0.502)), url(../images/2.jpeg);
    margin-top: 180px;
    padding-top: 50px;
    position:relative;
    margin-bottom: 190px;
    font-family: GillSans;
    background-size: cover;
    
    


 .hero-title {
    position: absolute;
    bottom: 0;
    left: 30px;
    color: #ee4367;
}

.title-2 {
    font-size: 300px;
    line-height: 0;
    margin-right: 30px;
}
    .title-dg {
        font-size: 140px;
         line-height: 0;
    }
}

