.hero-gallery5 {
    max-width: 1000px;
    height: 378px;
    margin: 0 auto;
    background-image:linear-gradient( rgba(59, 206, 171, 0.502)), url(../images/5.png);
    margin-top: 180px;
    padding-top: 50px;
    position:relative;
    margin-bottom: 190px;
    font-family: GillSans;
    background-size: 100%;
    
    


 .hero-title {
    position: absolute;
    bottom: 0;
    left: 30px;
    color: #3BCEAB;
}

.title-5 {
    font-size: 300px;
    line-height: 0;
    margin-right: 30px;
}
    .title-int {
        font-size: 140px;
         line-height: 0;
    }
}
