.hero-gallery4 {
    max-width: 1000px;
    height: 378px;
    margin: 0 auto;
    background-image:linear-gradient( rgba(84, 13, 110, 0.502)), url(../images/4.jpg);
    margin-top: 180px;
    padding-top: 50px;
    position:relative;
    margin-bottom: 190px;
    font-family: GillSans;
    background-size: 100%;
    
    


 .hero-title {
    position: absolute;
    bottom: 0;
    left: 30px;
    color: #540D6E;
}

.title-4 {
    font-size: 300px;
    line-height: 0;
    margin-right: 30px;
   
}
    .title-op {
        font-size: 135px;
         line-height: 0;
          
    }
}
